<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.sdwfqin.paylib">


    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <package android:name="com.eg.android.AlipayGphone" />
        <package android:name="hk.alipay.wallet" />
    </queries>

</manifest>
